<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body th:object="${pizza}">
	<h1>Crea la tua pizza:</h1>
	<form method="post">
		<label>Nome</label>
		<input type="text" name="nome" th:value="*{nome}">
		<label 
			style="color: red"
			th:if="${errors != null && errors.hasFieldErrors('nome')}"
		>
			[[ ${errors.getFieldError('nome').defaultMessage} ]]
		</label>
		<br>
		<label>Descrizione</label>
		<input type="text" name="descrizione" th:value="*{descrizione}">
		<label 
			style="color: red"
			th:if="${errors != null && errors.hasFieldErrors('descrizione')}"
		>
			[[ ${errors.getFieldError('descrizione').defaultMessage} ]]
		</label>
		<br>
		<label>Url foto</label>
		<input type="text" name="fotoUrl" th:value="*{fotoUrl}">
		<label 
			style="color: red"
			th:if="${errors != null && errors.hasFieldErrors('fotoUrl')}"
		>
			[[ ${errors.getFieldError('fotoUrl').defaultMessage} ]]
		</label>
		<br>
		<label>Prezzo</label>
		<input type="number" name="prezzo" th:value="*{prezzo}">
		<label 
			style="color: red"
			th:if="${errors != null && errors.hasFieldErrors('prezzo')}"
		>
			[[ ${errors.getFieldError('prezzo').defaultMessage} ]]
		</label>
		<br>
		<label>Ingredienti:</label>
		<div
			th:each="ing : ${ingredienti}"
			th:object="${ing}"
		>
			<input th:id="${'ing-' + ing.id}" type="checkbox" name="ingredienti" th:value="*{id}">
			<label th:for="${'ing-' + ing.id}">[[ *{nome} ]]</label>
			<br>
		</div>
		<br>
		<input type="submit" value="create"> 
	</form>
</body>
</html>