<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body th:object="${pizza}">
	<h1>[[ *{nome} ]] - [[ *{prezzo}/100 ]]E</h1>
	<h3>[[ *{descrizione} ]]</h3>
	<img width="200px" th:src="*{fotoUrl}">	
	<br>
	<h3>Ingredienti: [[ *{ingredienti.size()} ]]</h3>
	<ul>
		<li
			th:each="ing : *{ingredienti}"
			th:object="${ing}"
		>
			[[ *{nome} ]]
		</li>
	</ul>
	<br>
	<h3>Offerte: [[ *{offerte.size()} ]]</h3>
	<a sec:authorize="hasAuthority('ADMIN')" th:href="@{/pizze/{id}/offerte/create (id=*{id})}">
		CREA NUOVA OFFERTA
	</a>
	<ul>
		<li
			th:each="offerta : *{offerte}"
			th:object="${offerta}"
		>
			[[ *{titolo} ]] - [[ *{percSconto} ]]% - [[ *{finalPrice} ]]E
			<a sec:authorize="hasAuthority('ADMIN')" th:href="@{/offerta/update/{id} (id=*{id})}">MODIFICA</a>
		</li>
	</ul>
</body>
</html>