<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Crea la tua pizza:</h1>
	<form method="post">
		<label>Nome</label>
		<input type="text" name="nome">
		<br>
		<label>Descrizione</label>
		<input type="text" name="descrizione">
		<br>
		<label>Url foto</label>
		<input type="text" name="fotoUrl">
		<br>
		<label>Prezzo</label>
		<input type="number" name="prezzo">
		<br>
		<input type="submit" value="create"> 
	</form>
</body>
</html>